.carousel-inner{
    height: 600px;
    object-fit: contain;
    
    margin-bottom: 40px;
}
img{
    height: 550px;
}
.content{
    margin-left: 100px;
}  
.head{
    height: 70px;
}
.card-img-top{
    height: 250px !important;
    width: 250px !important;
    padding: 20px;
}
.body{
background-color: rgba(7, 7, 7, 0.863);
}
.card{
    background-color:rgba(42, 42, 42, 0.863) !important;
    margin-bottom: 30px;
    
}

.header{
    background-color: rgb(25, 25, 25) !important;
}
.top{
    background-color: rgba(7, 7, 7, 0.863);
}
/* Rounded carousel indicators */
.carousel-indicators [data-bs-target] {
  background-color: #fff !important;
  width: 6px !important; 
  height: 6px !important;
  border-radius: 50% !important; 
  margin: 0 16px;
  transition: all 0.3s ease;

}

.carousel-indicators [data-bs-target]:hover,
.carousel-indicators .active {
  background-color: #e91f11 !important;
  transform: scale(1.1); 
}


.ouradvantages{
       background-color:rgba(10, 10, 10, 0.863) !important;
}
.ouradvantages ul{
    margin-bottom: 0 !important;
}
.card{
    margin-bottom: 0 !important;
   border: 0 !important;
   height: 520px !important;
}
.card-body{
    height: 340px !important;
}
.cardfe:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.mainimage{
    height: 400px;
    margin-left: 50px !important;

}
.sideimage{
    height: 100px;
    border: 2px solid white;
    border-radius: 10px;
}
.originalimage{
    margin-top: 80px !important;
}
.detailspage{
    background-color: rgba(7, 7, 7, 0.863);
}
.spec-row{
    margin-bottom: 16px;
}
.allproducts{
    background-color:  rgba(7, 7, 7, 0.863);
}
.allproductscard{
    height: 500px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none !important;
}
.sidebar-scroll {
  height: 440px;  
  width: 280px;
  overflow-y: scroll;
  padding-right: 40px;
  border: 12px solid rgb(69, 69, 69);
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
 
}

.sidebar-scroll::-webkit-scrollbar {
  width: 12px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #cbc8c8;
  border-radius: 100px;
  height: min-content;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: #353535;
  border-radius: 100px;
}
.featured-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 20px 0;
}

.slider-track {
  display: flex;
  width: max-content;
  animation: scroll 50s linear infinite;
}

.slide-card {
  min-width: 250px;
  margin: 0 20px;
}
  
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-30%); }
}
.slide-card:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.sortby:hover{
    cursor: pointer;
    color: orangered;
}
.checkbox:hover{
    cursor: pointer;
    background-color: orangered;
}
.cartimage{
    height: 150px;

}
.sidescroll{
    background-color: rgb(32, 31, 31);
    color: white;
}
.sidescroll::-webkit-scrollbar-track {
  background: #1a1a1a;   /* dark black */
  border-radius: 10px;
}

/* Scrollbar thumb */
.sidescroll::-webkit-scrollbar-thumb {
  background: #000000;   /* pure black */
  border-radius: 10px;
}
.continue a{
    color: red;
}
.ordersummary{
    border: 12px solid rgb(68, 67, 67);
    background-color: rgb(29, 29, 29);
}




